<h1><%= @band.name.upcase %></h1>
<h2>New Album</h2>

<form action="<%= albums_url %>" method="post">
  <%= csrf_token %>
  <label for="name">Album Name</label>
  <input type="text" name="album[name]">

  <br>
  <br>

  <label for="band">Band</label>
  <select name="band">
    <% Band.all.each do |band| %>
      <option
      <%= band.id == @band.id  ? "selected" : "" %>
      value="album[band_id]">
        <%= band.name %>
      </option>
    <% end %>
  </select>

  <br>
  <br>

  <label>
    <input type="radio" value="album[album_type]">
  </label>

  <br>
  <br>

  <%= submit_button("Create Album") %>
</form>
